/* major */
body,
html {
    height: 100%;    
}

body {
    margin: 0;
}

footer {
    background-color: #666;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 10%; 
    margin-top: 10px; 
    border-top: 8px #4aaaa5 solid;
    box-sizing: border-box;
}

footer h6 {
    text-align: center;
    padding: 40px;
    clear: both;
    margin: 0 0 5px;
}

/* page sections */

section,
header {
    width: 960px;
    box-sizing: border-box;
    margin: auto;
}


header div {
    background-color: #4aaaa5;
    color: white;
    display: inline-block;
    font-size: 36px;
    font-weight: bold;
    box-sizing: border-box;
    margin: 5px;
}

a {
    text-decoration: none;
    color: white;
}

ul {
    float: right;
    display: flex;
}

nav {
    position: fixed;
    width: 100%;
    height: 10%;
    top: 0;
    border-bottom: solid 1px gray;
    margin: 0 0 0 20px;
    box-sizing: border-box;
}

/* id */

#view {
    
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    padding: 1px;
    background-image: url("../images/background-texture.jpg");
}


/* classes */
.nav-links {
    font-size: 36px;
    margin: 5px;
}

.nav-links:nth-child(-n+2) {
    border-right: thin solid grey;
    margin: 5px;
}

.profile {
    height: 200px;
}

.connect {
    height: 80px;
}

.main,
aside {
    background: white;
    border: solid grey 1px;
    position: relative;
}

aside {
    width: 270px;
    box-sizing: border-box;
    margin: 0 auto;
    
}

.main {
    width: 650px;
    box-sizing: border-box;
    margin: 0 auto;
}





